html, body {
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 15% 10% 20% 10% 35% 10% ;}

.t{
    background-color: silver;
    border-style: solid;
    border-width: 3px;
    font-size: 30px;
    text-align: center;
}

.a{
    background-color: silver;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.a1{
    background-color: silver;
    border-style: solid;
    border-width: 3px;
    text-align: center;
}
.a2{
    background-color: silver;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}
.a3{
    background-color: silver;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
.a4{
    background-color: silver;
    border-style: solid;
    border-width: 4px;
    text-align: center;
}

.b {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.b1{
    background-color: white;
    border-style: solid;
    border-width: 3px;
}
.b2{
    background-color: white;
    border-style: solid;
    border-width: 4px;
}
.b3{
    background-color: white;
    border-style: solid;
    border-width: 1px;
}
.b4{
    background-color:  white;
    border-style: solid;
    border-width: 2px;
}

.c {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.c1{
    background-color: silver;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
.c2{
    background-color: silver;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
.c3{
    background-color:  silver;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}
.c4{
    background-color: silver;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

#d{
    background-color: silver;
}

.e{
    background-color: silver;
    text-align: center;
    border-width: 20px;
}